<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient's Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='patient.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Patient Details</h1>
      <img src="{{ patient[7] }}" alt="Patient Image" class="patient-image" />
      <p><strong>Name:</strong> {{ patient[1] }} {{ patient[2] }}</p>
      <p><strong>PESEL:</strong> {{ patient[3] }}</p>
      <p><strong>Address:</strong> {{ patient[4] }}, {{ patient[5] }}, {{ patient[6]}} {{ patient[5] }}</p>

      <div class="buttons-container">
        <form action="/update_patient/{{ patient[0] }}" method="get">
          <button type="submit" class="update-button">Update</button>
        </form>
        <form action="/delete_patient/{{ patient[0] }}" method="post">
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </div>
    </br>
      <a href="/">Back to Patients List</a>
    </div>
  </body>
</html>
